@font-face { 
  font-family: 'StolzlBold';
  src: url(/StolzlBold.ttf) format('ttf'), url(/StolzlBold.ttf) format('woff');
  font-style: normal;
  font-weight: 100;
}


@font-face { 
font-family: 'StolzlBook';
src: url(/StolzlBook.ttf) format('ttf'), url(/StolzlBook.ttf) format('woff');
font-style: normal;
font-weight: 100;
}


@font-face { 
font-family: 'StolzlMedium';
src: url(/StolzlMedium.ttf) format('ttf'), url(/StolzlMedium.ttf) format('woff');
font-style: normal;
font-weight: 100;
}

button {
  cursor: pointer;
}



.scheduler {
  background-image: url('../images/football-court.jpg');
  background-position: center center;
  height: 480px;
  color:#fff;
  font-family: 'StolzlBold';

}

.nav {
  display: flex;
  justify-content: space-between;
 
  
}
 

.Contacts,.Events,.players-button {
  border: none;
  background: transparent;
  color: #fff;
  font-weight: 700;
  font-size: 36px;
  padding-right: 77px;
  padding-top: 12px;
  
}

.right-side{
  border: none;
  background: transparent;
  color: #fff;
  font-weight: 700;
  font-size: 36px;
  padding-left: 64px;
  padding-top: 12px;
}


.score {
  font-weight: 700;
  font-size: 180px;
  display: flex;
  justify-content: center;
  padding-top: 30px;
  cursor: pointer;
  
}

.score1 {
  margin-right: 40px;
}

.score2 {
  margin-left: 40px;
}

.time {
  font-weight: 700;
  font-size: 64px;
  display: flex;
  justify-content: center;
  
}

h1{
  
  font-family: 'StolzlBold';

}

.current-football-events-info{
  
  display: flex;
  height: 320px;
  background-color: #F9F6F6;
  font-size: 16px;
  font-family: 'StolzlBook';
  
}

.black-bar {
  margin-left: 167px;
  background-color: black;
  width: 15px;
  height: 270px;
  margin-top: 13px;
  margin-bottom: 43px;
}

.info {
  margin-left: 44px;
}

.learn-more-button {
  width: 197px;
  height: 43px;
  font-weight: 700;
  font-size: 24px;
  background-color: black;
  color: #fff;
  margin-right: 22px;
  font-family: 'StolzlBold';
}


.contacts-button:active {
transform: translateY(2px);
}

.learn-more-button:active {
  transform: translateY(2px);
  }



.contacts-button
{
  width: 197px;
  height: 43px;
  font-weight: 700;
  font-size: 24px;
  background-color: #fff;
  border: 5px solid;
  font-family: 'StolzlBold';
}

.events {
  
  display: flex;
  justify-content: space-around;
  color: #fff;
  background-color: #F9F6F6;
  height: 580px;

  
}



.event-img {
  
  background-image: url('./football-teams-card.png');
  width: 340px;
  height: 268px;
}

.events-header{
  font-family:'StolzlMedium';
  background-image: url('../images/events2.png');
  height: 100px;
  color: #Fff;
  display: flex;
  justify-content: center;
  font-size: 60px;
  font-weight: 100;
  align-items: center;

}

.teams-tittles{
  font-family: 'StolzlBook';
  font-weight: 100;
  font-size: 20px;
  padding-bottom: 76px;
}

p{
  font-weight: 500;
  font-size: 18px;
  line-height: 6px;
}

.location-info{
  padding-bottom: 6px;
}



.events-card {

  width: 340px;
  height: 490px;
  background-color: #2A2A2A;
  text-align: center;
  color: #fff;
  margin-top: 40px;
  margin-bottom: 10px;
 
}

.black-line{
  background-color: black;
  width: 340px;
height: 13px;

}

.best-players-header{
  background-image: url('../images/best-players.png');
  height: 100px;
  color: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: 500;
  font-size: 55px;
  
  
  }
  
  .best-players {
    display: flex;
    justify-content: space-around;
    background-color: #2A2A2A;
  }
  .best-players-card {
  
    margin-top: 38px;
    margin-bottom: 36px;
    padding-right: 40px;
    display: flex;
    background-color: black;
    width:440px;
    height: 440px;
    color: #fff;
    
  }
  
  .best-player-name {
    font-weight: 500;
    font-size: 18px;
    margin-left: 15px;
  }
  
  .achievments {
    font-weight: 100;
  font-size: 14px;
  font-family: 'StolzlBook';
  }
  
  .black-line-best-players{
    
    background-color: black;
  height: 12px;
  }

  .information-contacts {
    padding-left: 130px;
      display: flex;
      
      align-items: center;
      
    height: 520px;
    background-color: #F9F6F6;
    }
    
    .right-section {
      display: flex;
    
    }
    
    .left-section {
      display: flex
    }
    
    .black-bar-faq {
     
      margin-top:39px;
      margin-bottom: 39px;
      background-color: black;
      width: 12px;
      height: 450px;
    }
    
    .faq-information
    {
      margin-top: 30px;
      margin-left:35px;
    }
    
    .faq {
      font-size: 26px;
      
    }
    
    h3 {
      font-size: 24px;
      font-family: 'StolzlBold';
    }
    
    
    .ticket-info {
      line-height: 23px;
      width: 744px;
      font-weight: 400;
    font-size: 16px;
    font-family: 'StolzlBook';
    
     
    }
    
    .contacts-details {
      font-size: 16px;
      font-family: 'StolzlBook';
      line-height: 14px;
    }
    
    .name {
      margin-top: 16px;
    }
    
    
    .email-phone {
      margin-top: 28px;
    }
    
    .person-info {
      margin-right: 18px;
      width: 200px;
    height: 35px;
    background-color: #2A2A2A;
    border: none;
    color: #A2A1A1;
    font-weight: 400;
    font-size: 16px;
    }
    
    .submit-button {
    width: 205px;
    height: 35px;
    background-color: black;
    font-size: 16px;
    font-weight: 700;
    color: #fff;
    margin-top: 25px;
    
    }

    .submit-button:disabled {
      
      color:#565656;
    }
    
.submit-button:active {
  transform: translateY(2px);
  }

  .input-error-info {
    font-family: 'StolzlBook';
    margin-top: 20px;
    font-size: 16px;
  }

  .notification-modal {
    height: 100vh;
    width: 100vw;
    background-color: rgba(0,0,0,0.4);
    position: fixed;
    top: 0;
    left: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    opacity: 0;
    transition: 0.5s;
    pointer-events: none;
  }

  .notification-modal.active {
    opacity: 1;
    transform: scale(1);
    pointer-events: unset;
    
  }

  .notification-modal-content {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 20px;
    border-radius: 12px;
    background-color: white;
    transform: scale(0.5);
    transition: 0.4s all;
    width: 50vw;
   
  }

  .notification-modal-content.active {
 transform: scale(1);
  }

  .notification-btn {
    background-color: black;
    font-size: 16px;
    font-weight: 700;
    color: #fff;
    width: 100px;
    height: 35px;
   
  }

  .notification-btn:active {
    transform: translateY(2px);
    }

  .submit-notification {
    
    font-family: 'StolzlBook';
    font-size: 20px;
  }
    
    .black-line-faq {
    
    height: 12px;
    background-color:  #000000;;
    }
    
    .footer {
      font-family: 'StolzlBook';
      
      display: flex;
      justify-content: space-between;
      padding-right: 80px;
      padding-left: 140px;
      align-items: center;
      height: 139px;
      background-color:#2A2A2A;
      color: #A2A1A1;
      font-size: 16px;
    }


    @media screen and (max-width: 426px)
{

  .scheduler {
    width: 425px;
    height: 400px;

  }

  .right-side {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    padding-left: 40px;
    padding-top: 5px;
  }

  .current-football-events-info {
    
   font-size: 12px;
   height: 320px;
  }
   
  .info {
  font-size: 12px;
   margin-top: 34px;
   margin-left: 20px;
  }

  .events-header {
    font-size: 50px;
    height: 100px;
  }

  .teams-tittles{
    font-size: 14px;
  
  }


  .learn-more-button {
    width: 130px;
    height: 35px;
    font-size: 18px;
  }

  .contacts-button {
    width: 130px;
    height: 35px;
    font-size: 18px;
  }

  .black-bar {
    margin-left: 55px;
    background-color: black;
    width: 15px;
    height: 250px;
    margin-top:34px;
    margin-bottom: 43px;
  }

 
  
  .Contacts,.Events,.players-button {
    font-size: 16px;
  }

  .score {
   
    font-size: 90px;
  }

  .time {
    font-size: 40px;
    padding-bottom: 60px;
  }
  

  .events {
    margin-right: 130px;
    display: grid;
    grid-template-columns: 180px 50px;
    height: 1000px;
    background-color: #fff;
  }

  .event-img {
    background-position: center center;
    height: 240px;
    width: 180px;
    
  }

  .events-card {
  
    width: 180px;
    height: 450px;
    margin-top: 15px;
       
  margin-bottom: 0px;

  }

  .black-line {
    width: 180px;
  }

  .best-players-header {
  background-image: url('../images/players-mobile.png');
  height: 82px;
  color: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: 500;
  font-size: 30px;
  }

  .best-players-card {
    
    margin-bottom: 0px;
    padding-right: 40px;
    display: flex;
    background-color: black;
    width:365px;
    height: 400px;
    color: #fff;

  }




  p {
    font-size: 14px;
  }

  


  .information-contacts {
    display: grid;
    padding-left: 0px;
    height: 1200px;
    
    
  }

  .black-bar-faq {
    margin-left: 20px;
    width: 12px;
    height: 500px;
  }

  .best-players-card img{
    width: 250px;
    height: 400px;
   object-fit: cover;
  }

  .achievments {
  font-size: 11.5px;
  }

  .best-player-name {
    font-weight: 500;
    font-size: 20px;
    margin-left: 15px;
  }

  .best-players {
    display:grid;
    height: 1380px;
  }

  .faq {
    font-size: 20px; 
  }
   
  h3 {
    font-size: 18px;
    font-family: 'StolzlBold';
  }
  
  
  .ticket-info {
    line-height: 23px;
    width: 744px;
    font-weight: 400;
  font-size: 16px;
  font-family: 'StolzlBook';
  
   
  }

 .ticket-info {
  font-size: 14px;
  width: 350px;
 }

 .right-section .faq-information{
  margin-left: 70px;
  margin-bottom: 50px;
 }


 .right-section .black-bar-faq{
  width:20px;
  height: 560px;
 }

 .person-info {
  margin-bottom: 10px;
 }

 .footer {
  
  display: flex;
  justify-content: space-between;
  padding-right: 8px;
  padding-left: 8px;
  align-items: center;
  height: 150px;
  font-size: 12px;
}



.footer-info {
  font-size: 12px;

}
 
}
    
   